.TargetCard {
  padding: 15px;
  width: 100%;

  h1 {
    padding-bottom: 15px;
  }

  ul {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    li {
      margin: 5px 0;
    }
  }

  &--card-actions {
    display: flex;
    justify-content: flex-end;
  }
}
